.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.btn{
    padding: 10px;
    border: none;
    outline:0 !important;
    cursor: pointer;
    margin-right: 20px;
}
#btn-facebook{                
    background: #0242d7;
    color: white;
}
#btn-siguiente{                
    background: #29e754;
}
#btn-instagram{                
    background: #c64a4e;
    color: white;
}

#btn-siguiente:active{
    background: #17a738;
    outline:0 !important;
}